language: python
  - "2.7"
sudo: required
install:
  - pip install numpy
  - pip install matplotlib
  - sudo add-apt-repository ppa:mc3man/trusty-media -y
  - sudo apt-get update
  - sudo apt-get install ffmpeg
  - pip install coveralls
script: "coverage run ./source/test.py"
after_success:
  coveralls